* {
    padding: 0;
    margin: 0;
}
body {
    background: url("./content/Cosmic\ Fusion.jpg");
    font-weight: 800;
}

.wrapper {
    position: absolute;
    padding-inline: 10px;
    transition:(-50%, 45%);
    background-color: purple;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 300px;
    top: 40%;
    left: 40%;
    box-shadow:14px 14px 14px 0px rgb(0, 0, 0);
    }

   .me {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color:beige;
   }

    input {
        border-radius: 1rem;
        width: 10rem;
        height: 2rem;
        margin-top: 20px;
       background-color:antiquewhite;
       border-color: pink;
        
    }

    button {
        border-radius: 2rem;
        width: 8rem;
        height: 2rem;
        margin-top:40px ;
        background-color: antiquewhite;
        border-color:pink;
    }
    
